@import "../../assets/styles";

.title-services{
    font-weight: bolder !important;
    color: $warning;
    font-size: 37px !important;
    font-family: $gothamBlack !important;
}
.description-view-services{
    font-family: $gotham !important;
    font-size: 16px !important;
    width: 80% !important;   
}
.campus-selection-title{
    font-weight: bolder !important;
    color: $primary;
    font-size: 20px !important;
    font-family: $gothamBlack !important;
}
.toggle-button{
    max-width: 50rem !important;
    width: 95% !important;
    border-color: #70928E !important;
    color: #C6C6C6 !important;
    border-radius: 0% !important;
    padding: 0.7rem !important;
    // background-color: #EAEAEA !important;
}
.selection-title-documents{
    color: #424242 !important;
    font-size: 20px !important;
    font-family: $gotham !important;
}
.box-academic-i{
    font-weight: bolder !important;
    color: $primary;
    font-size: $textMedium !important;
    font-family: $gothamBlack !important;
}

.button-submit{
    background-color: #89d2cc !important;
    padding-right: 6rem !important;
    padding-left: 6rem !important;
    font-family: $gothamBlack !important;
}
.button-save{
    background-color: $warning !important;
    padding-right: 6.5rem !important;
    padding-left: 6.5rem !important;
    font-family: $gothamBlack !important;
}
.logo-menu-academic{
    margin-top: 0.5rem !important;
    margin-right: 2rem !important;
    width: 1.2rem;
    height: 1.2rem;
}
.logo-menu-toggle{
    margin-top: 0.1rem !important;
    margin-right: 0.3rem !important;
    width: 1.2rem;
    height: 1.2rem;
}