@import "../../assets/styles";

$size: 42px;

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1.5rem;
  padding-left: 0.3rem !important;
}

.circle {
  border-radius: 50%;
  background-color: $mainOrange;
  height: $size;
  width: $size;
  min-width: $size;
  min-height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: $white;
  font-size: $mainTitle !important;
  font-weight: bold !important;
}

.link {
  text-decoration: none !important;
}

.services {
  margin-left: 2rem !important;
}

.list-item {
  font-size: $size;
  font-weight: bold;
  color: $mainBlue;
  text-decoration: line ;
  font-family: $gothamBlack !important;
  text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.1) !important;


  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.list-item-description {
  color: $blackText;
  font-weight: bold;
}
