@import "../../assets/styles";

$size: 40px;
$number:30px;
$title-size:27px;

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 1.5rem;
padding-top: 1.4rem;
}

.circle {
  border-radius: 50%;
  background-color: $mainOrange;
  height: $size;
  width: $size;
  min-width: $size;
  min-height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem !important;
}

.number {
  color: $white;
  font-size: $number !important;
  font-weight: bold !important;
  font-family: $gothamBlack !important;
}

.link {
  text-decoration: none;
}

.services {
  margin-left: 2rem !important;
}

.list-item {
  font-size: $title-size !important;
  font-weight: bold;
  color: $mainBlue;
  text-decoration: underline 2px #009999;
  font-weight: bold !important;
  font-family: $gothamBlack !important;
  
  &:hover {
    text-decoration: underline #009999;
    cursor: pointer;
  }
}

.list-item-description {
  color: $blackText;
  padding-top: 6px;
  font-family: $gotham !important;
}