@import "../../assets/styles";

.container {
  background-color: $primary;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 15rem 0;
}

.navbar {
  flex-direction: row; // Cambia la dirección de los elementos a horizontal
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar .option {
  margin-right: 10px; // Espacio entre las opciones del navbar
}