@import "../../../../assets/styles/";


.document-row-wrapper {
    padding: 0.5rem;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    font-family: $gotham !important;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.update-column-wrapper {
    text-align: center;
    font-weight: bolder !important;
    padding: 0.5rem;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    font-family: $gotham !important;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.document-actions-button {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center !important;
}

.rounded-div,
.rounded-div-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
}

.rounded-div {
    background-color: $primary;

}

.rounded-div-disabled {
    background-color: #0099996c;

}
.family {
    font-family: $gotham;
}