@import "../../assets/styles";

.wrapper {
  display: flex;
  background-color: pink;
  height: 100vh;
  padding-right: 0%;
  
}

.submitButton {
  background-color: $primary !important;
}



.cancelButton {
  color: $primary !important;
  border-color: gray !important;
  margin-top: 0.5rem !important;
  width: 10rem;
}

.titlePersonalInformation{
  color: $primary
}

.title {
  font-family: $gothamBlack !important;
  font-size: 2rem;
  color: $warning;
  padding-left: 1rem;
}