@import "../../../../assets/styles";

.subtitle {
  font-weight: bolder !important;
  font-family: $gothamBlack !important;
  color: $warning;
  font-size: 1.6rem !important;
}


.MuiBackdrop-root {
  opacity: 1 !important;
  /* Adjust the opacity value as needed */
}