@import "../../assets/styles";

.image-banner {
  background-image: url(../../assets/images/dashboard-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 40vh;
  width: 100%;

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: $white;
    font-weight: $heavy;
    font-family: "GothamMedium";
  }
}
