@font-face {
  font-family: "GothamBlack";
  src: url("./assets/fonts/GothamBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("./assets/fonts/GothamMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}
