@import '../../assets/styles/base/variables';


.footer {
    height: 10vh;
    padding-left: 15%;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: start;
    color: white;
    bottom: 0;
    width: 100% !important;
    background: $secondary;
}