@import "../../assets/styles/index.scss";

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $blue6;
  color: $white;
  width: 100%;
  height: 2rem;
  padding: 0 2rem;

  &__tab:last-child {
    margin-left: 2rem;
  }
}
